@page "/login"
@inject IUsuarioService UsuarioService
@inject NavigationManager Nav

<h3>Login</h3>

<input @bind="email" placeholder="Email" class="form-control mb-2" />
<input @bind="clave" type="password" placeholder="Clave" class="form-control mb-2" />
<button class="btn btn-primary" @onclick="IniciarSesion">Iniciar sesión</button>

@code {
    private string email = "";
    private string clave = "";

    private void IniciarSesion()
    {
        var user = UsuarioService.ObtenerPorCredenciales(email, clave);

        if (user != null) Nav.NavigateTo("/menu");
    }
}
